@model ListViewModel

<img src="~/images/banner3.jpg" alt="Image" class="img-fluid" style="align-content: center">
<div style="text-align: center">
    <h2><b>HOT Music</b></h2>
</div>
<div class="card-columns">
    @foreach (var p in Model.Musics)
    {
        <partial name="MusicSummary" model="p" />
    }
</div>

