@model ListViewModel
    <img src="~/images/banner8.jpg" alt="Image" class="img-fluid" style="align-content: center">
    <div style="text-align: center">
        <h2><b>HOT Singers</b></h2>
    </div>
    <div class="card-columns">
        @foreach (var p in Model.Singers)
        {
            <partial name="SingerSummary" model="p" />
        }
    </div>
