@model Album
<div class="card">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AlbumDetailPage" asp-route-album_name="@Model.AlbumName">
        <div class="card-img"><img src="@Model.Image" width="300" height="300" /> </div>
        <div class="card-body">
            <h5 style="text-align: center">@Model.AlbumName</h5>
        </div>
    </a>

</div>
