@model Author
<div class="card">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AuthorDetailPage" asp-route-author_name="@Model.AuthorName">
        <div class="card-img"> <img src="@Model.AuthorImg" width="300" height="300" /></div>
        <div class="card-body">
            <h5 class="card-title">@Model.AuthorName</h5>
        </div>
    </a>

</div>

