@model Musics
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h5 class="card-title">Author: @*@Model.Author.AuthorName*@</h5>
        <h5 class="card-title">Singer: @*@Model.Singer.SingerName*@</h5>
        <h5 class="card-title">Album:  @*@Model.Album.AlbumName*@</h5>
    </div>
</div>
